* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Nunito:wght@700&family=Poppins:wght@200;300;400&family=Roboto:ital,wght@0,300;1,100&family=Rubik+Doodle+Shadow&display=swap');

:root {
    --fonte-rubik: 'Rubik Doodle Shadow', system-ui;
    --font01: 'Coming Soon', cursive;
    --font-robot: 'Roboto', sans-serif;
    ;
}



header {
    width: 100%;
    position: relative;
    background-color: #f6f6ff86;

    
}
nav{
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100px;

}

.logo> img{
     width: 200px;
     margin: 30px;
}
.logo,
img {
    position: relative;
    margin: px;
   
}

ul,
li,
a {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 500;
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 50px;
    cursor: pointer;
color: #1A202C;
}

.logo{
    scale: 1;
}

header a:hover {
    scale: 1.04;
    color: #2958b6;
}

.acessar {
    padding-right: 55px;
    gap: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bont {
    align-items: center;
    background: #14141804;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.212), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 36px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}

header>.button-nav {
    gap: 30px;
}

.box {
    width: 85%;
    height: 85vh;
    margin: auto;
    justify-content: space-between;
    display:flex;
    margin-bottom: 95px;

}

.container {
    position: relative;
    width: 100dvw;

}

.container>h1 {
    color: rgb(38, 38, 41);
    font-family: var(--font01);
    font-weight: 5000%;
    font-size: 74px;
    margin-bottom: -4%;
    margin-top: 99px;
}

.r1 {
    color: rgb(43, 56, 233);
    font-family: var(--font01);
    font-weight: 900;
    font-size: 105px;
}

h4 {
    font-family: var(--font-robot);
    font-weight: 545;
    width: 450px;
    font-size: 17px;
    color: #545a66;
}

#seta {

    width: 120px;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 450px;
    margin-top: -55px;
}

span>img {
    width: 30px;
    margin-left: 10px;

}

span>a {
    font-family: var(--font-robot);
    font-size: 17px;
    color: #fff;
}

.suporte-tech {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: -30px;
    position: relative;
    width: 120%;
    z-index: 1000;
}

.suporte-tech>input {
    font-size: 16px;
    background-color: #f6f9fe;
    border-radius: 10px;
    border: none;
    border-style: none;
    appearance: none;
    outline: none;
    width: 85%;
    box-shadow: 5px 10px 10px rgba(45, 43, 58, 0.103);

}

.suporte-tech input::placeholder {
    color: #2958b6;
    padding: 5px;
    font-size: 16px;
}

.suporte-tech>input:focus {
    text-indent: 14px;
    color: #2958b6;
}


.suporte-tech>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(72, 133, 70);
    background-color: #2958b6;
    width: 70%;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(105, 90, 205, 0.349);

}

.pub1>img {
    width: 760px;
    margin-top: -335px;
}

.pub1>div {
    content: ("");
    width: 400px;
    height: 400px;
    background-color: #2958b6;
    border-radius: 1000px;
    margin-left: 220px;
}
 .box-equipe{
    margin-top: 100px;
    display: block;
 }

.box01 {
    position: relative;
    display: flex;
    width: 100%;
    height: 40rem;
   background-color: #2958b6;

}

.box2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 10vh;
    background-color: #2958b6;
    z-index: 1;

}

.textobox2>span,
p {
    align-items: center;
    width: 505px;
    font-size: 17.1px;
    color: #f6f9fe;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.7rem
}

span>h1 {
    font-family: var(--font-robot);
    font-size: 55px;
    margin-left: 55px;
    margin-bottom: 34px;
}

.textobox2 {
    margin-top: 50px;
    width: 65%;
    height: 80vh;
    justify-content: center;
    padding: 55px;
    margin-left: 30px;
    background-color: rgba(81, 83, 83, 0.267);
    border-radius: 20px;
}

.equipe>img {
    width: 50%;
    position: absolute;
    margin-left: -280px;
    margin-top: 40px;
    z-index: 2;
}


.box3 {
    height: 0vh;
    width: 100%;
}



.waves1> img{
    margin: 0;
    position: absolute;
    width: 100%;
 z-index:100 ;
 margin-top:-254px;
}

svg {
    width: 100%;
    height: 50vh;
    margin-top: -50px;
    margin-bottom: -165px;
}



.servico {
    height: 0%;
    margin: 70px;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content:space-between;
    
}

.servico>img {
    margin-top: 5px;
    width: 40%;
    z-index: 100;
}

.in{
    font-family: var(--font-robot);
    color: #2958b6;
    font-size: 1.2rem;
    margin: 0;
    position:relative;
    
}

.destaq1{
    position: relative;
    font-family: var(--font-robot);
}
.mei{
    margin-top: 35px;
    position: relative;
    width: 43rem;
    font-size: 2.7rem;
    font-family: var(--font-robot);
    color: #212529;
    
}

.destaq1>p{
    font-size: 1.2rem;
    width: 101%;
    position: absolute;
    color: #1A202C;
    margin-top: 20px;
}

.grupserv{
    width: 50%;

}

.menu-icon{
    display: none;
}

/*APRESENTARA MENU*/
    .menu-aparectation  ul{
       display: block;
       padding-top: 20px;
    }

    .menu-aparectation .bont{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }    
    
    #me-bont{
        color: #f6f9fe;
        background-color: #2958b6;
        width: 90%;
        
       
    }

    .menu-aparectation li{
        display: flex;
        padding:0.5rem;
        justify-content: center;
        align-items: center;
    }

   #link-cor  li a  { 
        color: #f0e6e6;
        z-index: 1000;
    }

    .menu-aparectation{
    display: none;
    z-index: 5;
    border-radius: 20px;
    justify-self: center;
     position: absolute;
     right: 0.4rem;
     width: 210px;
     height: 0;
     height: 250px;
     background-color: rgba(15, 12, 12, 0.507);
     align-items: center;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    }
    /* End-> apresentar menu */


/* Resposividade Tablet*/
@media(max-width:990px) {
    ul {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-right: 20px;
    }

    .menu-icon>img {
        width: 95%;
    }
    nav{
        justify-content: space-between;
    }
     
    .bont{
        margin-right: -270px;
    }

    .menu-aparectation{
        
       }

    #me-bont{
        display:none;
        
    }

    .box{
        display: block;
    }

    .container{
        position:relative;
        width: 100%;
        margin-top: -82px ;
    }

    #in-1{
        font-size: 5.7rem;
    }

    .r1{
        font-size: 8.4rem;
    }

    .r2{
        font-size: 1.4rem;
        width: 100%;
    }

    .suporte-tech{
        position: relative;
        top: 60px;
        margin-left: -80px;
        
    }
    #email{
        display: none;
    }

    #suport{
        font-size: 1.3rem;
    }


    .pub1{
        position: absolute;
        top: 0;
        justify-content: center;
        align-items: center;
        display: block;
        left: -2rem; 
        width: 100%;
        top: 35rem; 
    }

    #pub2{
        width: 50.9rem;
        margin-top: -65rem;
        top: 30px;
    }

    #element{
   position: relative;
    content: ("");
   margin-left: 350px;
    width: 30rem;
    height: 30rem;
    top:-60px ;
    }

    #seta{
        display: none;
    }

    .suporte-tech{
        width: 60%;
    
    }

    .box-equipe{
        position: relative;
        margin-top: 7rem;
    }

    #wave-top{
        top:5rem;
    }

    .box2{
        display: block;
        position:absolute;
        display: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .textobox2{
       text-align: center;
       margin: auto;
       padding: auto;
    }

    #somos, p{
        width:100%;
        grid-template-columns: 1fr;
        display: inline-block;
        justify-content: center;
        text-align: center;
        margin: auto;
        
    }    

    .textobox2{
        height: 50vh;


    }

    .equipe{
        display: block;
        align-items: center;
        margin: auto;
        margin-top:600px;
    }

    .container{
        grid-template-columns: 1fr;
        width: 100%;
    }
}



/* Resposividade Mobile*/
    @media(max-width:768px) {
        .bont{
            display: none;
        }
        nav{
            justify-content: space-between;
        }
       .logo> img{
        width: 190px;
       } 
       .menu-icon{
        padding: 20px;
       }
       .menu-icon>img{
        width: 95%;
       }

       .menu-aparectation{
       }


       #me-bont{
        display: block;       
    }

        .me-bont{
            justify-content: center;
            display: flex;
            margin-top: -13px;
            align-items: center;
        }
     
        #in-1{
            font-size: 5.7rem;
        }
    
        .r1{
            font-size: 8.4rem;
        }
    
        .r2{
            font-size: 1.3rem;
            width: 42rem;
        }    
    }




